<link rel="stylesheet" href="./style.css">
<body class="parent1">
  <div><%- include("partials/navBar.ejs") %></div>
  <h1 class="title" style="margin: 20px; text-align: center;">Items in your cart</h1>
</body>