<link rel="stylesheet" href="/style.css">
<body>
<div class="form-container">
  <form style="display: flex; flex-direction : column; width: 25%;" method="post" action="/user/forgot-password">
    <h1 class="title" style="text-align: center; ">SEND RESET PASSWORD MAIL</h1>
    <input class="input" type="text" name="email" placeholder="email">
    <input style="width: fit-content; align-self: center;" class="btn" type="submit" value="Send">
  </form>
</div>
</body>
