body{
  margin: 0;
}

#ipt{
  width: 90%;
  height: 250px;
  font-size: xx-large;
  font-weight: bold;
  border: none;
  margin: 15% 5% 0 0;
  outline: none;
  color: rgb(50, 50, 50);
}

.title{
  color : rgb(26, 24, 136);
}

p{
  color : rgb(50, 50, 50);
  inline-size: 70%;
  overflow-wrap: break-word;
}

#parent1{
  --box-shadow-color: rgb(155, 155, 155);
  background-color: rgb(228, 228, 228);
  margin: 1% 5% 1% 1% ;
  padding: 2.5%;
  height: 100%;
  box-shadow: 5px 5px var(--box-shadow-color) ;
}

/* #btn{
  /* height: 50px; */
/* } */ 

.btn{
  font-size: 18px;
  margin-top: 30px;
  background-color: rgb(49, 22, 148);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.input{
  padding: 10px;
  font-size: medium;
  /* font-weight: bold; */
  display: block;
  /* border: none; */
  margin: 10% 0 0 0;
  outline: none;
  color: rgb(50, 50, 50);
}

.form-container{
  padding: 5% 0;
  display: flex;
justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: gold;
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

li {
  float: left;
  margin: 10px;
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.product{
  margin: 20px;
}

#productsContainer{
  width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.icon{
  width: 40px;
}

.col-4{
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img{
  width: 10%;
  height: 200px;
}

.col-4 input{
  font-size: small;
}


.action {
  position: absolute;
  top: 20px;
  right: 30px;
}

.action .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  /* padding: 10px 20px; */
  background: rgba(214, 214, 214, 0.733);
  /* width: 200px; */
  /* box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}


